@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    list-style: none;
}

body{
    background: #FDF2E7;
}

.header{

    padding: 12px;
    width: 100%;
    min-height: 95vh;
    background: url("https://images.unsplash.com/photo-1530569673472-307dc017a82d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80");
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    color: black;
}
li{
    display: inline;
    margin-right: 12px;
    font-size: 14px;
    color: black;
}

.trial button{
    width: 8rem;
    border: 2px solid black;
    background: black;
    color: white;
    padding: 6px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: space-around;
}

.main .heading-content {
    width: 100%;
    height: 90vh;
    
    text-align: center;
}

.main .heading-content h1{
    margin-top: 2em;
    
}

.main .heading-content button {
    margin-top: 1.6em;
    width: 12em;
    padding: 8px;
    background: black;
    border: none;
    color: white;
    border-radius: 10px;
}



.main .heading-content button:hover{
    background: rgba(0,0,0,0.8);
    transition: all 0.3s ease-in-out;
}